name: Links

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: lycheeverse/lychee-action@v2
